[Desktop Entry]
Name=Cabal
Comment=Interpreter for legacy games
Comment[pl]=Interpreter graficznych gier przygodowych
Comment[sv]=Tolk för flera äventyrsspel
Comment[he]=פרשן למספר משחקי הרפתקאות
Comment[de]=Interpreter für diverse Abenteuerspiele
Comment[es]=Intérprete para varias aventuras gráficas
Comment[ca]=Intèrpret per diverses aventures gràfiques
Exec=cabalexec
Icon=cabalexec
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
